<!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-heading text-white"><h3>Wareregy</h3></div>
      <div class="list-group list-group-flush">
        <a href="/produtos" class="list-group-item list-group-item-action btn-outline-light bg-transparent text-white">Consultar Produtos</a>
        <a href="/incidencias" class="list-group-item list-group-item-action btn-outline-light bg-transparent text-white">Consultar Incidências</a>
        <a href="/estatisticas" class="list-group-item list-group-item-action btn-outline-light bg-transparent text-white">Estatísticas</a>
        <a href="/eventos" class="list-group-item list-group-item-action btn-outline-light bg-transparent text-white">Gerir eventos</a>
        <a href="/registar" class="list-group-item list-group-item-action btn-outline-light bg-transparent text-white">Registar Utilizador</a>
        
      </div>
    </div>
<!-- /#sidebar-wrapper -->