
<h1 class="text-white">Estatísticas</h1>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container" >
    <div class="row justify-content-center" style="height: 65vh;">
        <div class="col-md-8  contentor bg-light p-4 mt-4" style="width:800px !important;   ">
          <div class="row justify-content-end">
                <div class="d-inline-flex px-2" > 
                  <input class=""  type="week" name="" id="semana">
                </div>
                <div class="d-inline-flex " > 
                  <input type="button" class="btn btn-dark btn-sm float-right" onclick="getEstatisticas()" name="graf" value="Procurar">
               </div>
           </div>
              <div class="mt-4 col-md-12" id="top_x_div" style="height: 100%;">
           </div>
        </div>
    </div>
</div>

    
       
<script src="static/js/index.js"></script>