<div class="container  h-100">
      <div class="row  justify-content-center align-self-center">
        <div class="col-md-4 centro">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>
              <form class="form-signin" method="POST" action="/login">
                <div class="form-label-group">
                  <input type="email" name="useremail" class="form-control" placeholder="Email address" required autofocus>
                 
                </div>
  
                <div class="form-label-group">
                  <input type="password" name="userpassword" class="form-control" placeholder="Password" required>
                  
                </div>
                 {{#if message}}
                <div class="alert {{messageClass}}" role="alert">
                {{message}}
                </div>
                {{/if}}
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <button class="btn btn-lg btn-dark btn-block text-uppercase " type="submit">Sign in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>