<h1>Registos</h1>
<table class="table" id="rTable"
  data-toggle="table" data-url="/carregarRegistos">
  <thead>
    <tr>
      <th data-field="produto_id" scope="col">#</th>
      <th data-field="produto_nome" scope="col">Nome</th>
      <th data-field="produto_peso" scope="col">Peso</th>
      <th data-field="produto_loc" scope="col">Localização</th>
      <th data-field="registo_hora" scope="col">Hora</th>
      <th data-field="registo_data"scope="col">Data</th>
    </tr>
  </thead>
</table>