<h1>Registar Utilizador</h1>
<div class="container-fluid" >
    <div class="row justify-content-center">
        <div class="col-md-8  contentor bg-light p-4 mt-4">
           
 <form action="/registarUtilizador" method="POST">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" name ="nome" class="form-control" placeholder="Email@email.com" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" name ="email" class="form-control" placeholder="Nome" required>
    </div>
</div>

{{#if msg}}
                <div class="form-group row alert mx-1 {{msgClass}}" role="alert">
                {{msg}}
                </div>
                {{/if}}



     
    <div class="form-group row justify-content-end mb-0 mx-1">
       <button type="submit" class="btn btn-dark">Submit</button>    
    </div>
  </div>
  
</form>
          </div>
    </div>





<!--
 <form action="/registarUtilizador" method="POST">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                </div>
                  <div class="form-group">
                  <label for="nome">Utilizador</label>
                  <input type="text" class="form-control" name="nome" placeholder="Enter username" required>
                </div>
                {{#if msg}}
                <div class="alert {{msgClass}}" role="alert">
                {{msg}}
                </div>
                {{/if}}
                <button type="submit" class="btn btn-primary">Submit</button>    
            </form>

